<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
  </configSections>
  <appSettings>
    <add key="Fingrid.Messaging.EventSource.ConnectionString" value="ConnectTo=tcp://admin:changeit@localhost:1113; HeartBeatTimeout=20000" />
    <add key="Fingrid.Messaging.EventSource.Username" value="admin" />
    <add key="Fingrid.Messaging.EventSource.Password" value="changeit" />
    <add key="Fingrid.Messaging.Api.Url" value="http://+:9070/" />
    <add key="InfoBipPasswordHash" value="YXBwejFzbXM6MjQwMlBUUmo4"/>
    <add key="Fingrid.Messaging.SmppSettings.FileLocation" value="C:\Users\kilesanmi\Documents\visual studio 2017\Projects\Fingrid.Messaging\Fingrid.Messaging.WindowsService\SmsSettings.json"/>
    
  </appSettings>
  <connectionStrings>
    <!--<add name="Fingrid.Messaging" connectionString="Server=.;initial catalog=Messaging;User ID=sa;Password=P@ssw0rd" />-->
    <add name="Fingrid.Messaging" connectionString="Data Source=.\;Initial Catalog=BankOneMessaging;User ID=kilesanmi;Password=P@ssw0rd@123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" password="my password">
    <hosts>
      <add host="127.0.0.1" cachePort="6379" />
    </hosts>
  </redisCacheClient>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
